<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" [routerLink]="['new']">New Company</button>
    <button class="btn btn-success" (click)="onSearch()">Search</button>

  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <a class="list-group-item">
    <div class="row">
      <div class="col-xs-6"><b>Company</b></div>
      <div class="col-xs-3"><b>City</b></div>
      <div class="col-xs-3"><b>Country</b></div>
    </div>
    </a>
    <app-company-list-item
            *ngFor="let companyEl of companies; let i = index"
            [company]="companyEl"
            [index]="i"
          ></app-company-list-item>
  </div>
</div>
